SimpleITK
numpy
pandas
scikit-learn
timm==0.5.4
torch==2.0.1
torchvision==0.15.2
Pillow==9.5.0
openslide-python==1.3.1
tifffile
albumentations==1.4.13
staintools==2.1.2
histoencoder==0.1.1
matplotlib==3.8.4
opencv-python==4.10.0.84
lifelines==0.29.0
